body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
}

table {
 width: 100%;
 background: #000;
 border-collapse: separate;
}

thead tr {
  background: #666;
  color: #fff;
}

tr {
  font-size: 20px;
}

.even {
  background-color: #999;
}

.odd {
  background-color: #ccc;
}
